<div id="aboutPage">
    <div class="container blue social">
        <h1 class="center">Visit us in social networks!</h1>
        <div class="center">
            <a href="#" class="icon icon-cube facebook">facebook</a>
            <a href="#" class="icon icon-cube twitter">twitter</a>
            <a href="#" class="icon icon-cube googleplus">google+</a>
        </div>
    </div>
    <div class="container parallax about" id="about">
        <div class="content half left">
            <h1 class="center">About</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
            <p>
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
                a,
                venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
            </p>
        </div>
    </div>
    <div class="container blue">
        <div class="inline half center hours">
            <h1><b>Opening Hours</b></h1>
            <p class="center">Monday - Sunday 11:00 - 24:00</p>
            <p class="center">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                ut,
                imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
                dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu,
                consequat vitae,
                eleifend ac, enim. ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
        </div>
        <div class="inline half center dishes">
            <h1><b>Try new dishes!</b></h1>
            <div class="img-wrap rounded black"><img class="rounded" width="200px" src="../img/recom-1.jpg"><span>Tomatoes</span>
            </div>
        </div>
    </div>
    <div class="container parallax stars">
        <div class="content center">
            <h1>Our stars</h1>
            <div class="thumb">
                <img width="200px" class="rounded" src="../img/chief-1.jpg"/>
                <div class="caption">
                    <h2>chief 1</h2>
                    <h3>In enim justo, rhoncus ut,
                        imperdiet a, venenatis vitae, justo.</h3>
                </div>
            </div>
            <div class="thumb">
                <img width="200px" class="rounded" src="../img/chief-2.jpg"/>
                <div class="caption">
                    <h2>chief 2</h2>
                    <h3>In enim justo, rhoncus ut,
                        imperdiet a, venenatis vitae, justo.</h3>
                </div>
            </div>
            <div class="thumb">
                <img width="200px" class="rounded" src="../img/chief-3.jpg"/>
                <div class="caption">
                    <h2>chief 3</h2>
                    <h3>In enim justo, rhoncus ut,
                        imperdiet a, venenatis vitae, justo.</h3>
                </div>
            </div>
        </div>
    </div>
</div>