<head>
    <title>lucy's restaurant</title>
    <link rel="icon" href="../img/favicon.ico">
    <script src="../lib/flex.js"></script>
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link href="../lib/slider/jquery.bxslider.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="../lib/slider/jquery.bxslider.min.js"></script>
    <script src="../lib/handlebars-v4.0.5.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/main.js"></script>
    <script src="js/pagination.js"></script>
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<link rel="stylesheet" href="../sass/ie.css" />-->
    <!--<![endif]&ndash;&gt;-->
</head>