    <title>Lucy's restaurant</title>
    <link rel="icon" href="../img/favicon.ico">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
    <link href="../lib/slider/jquery.bxslider.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="../lib/slider/jquery.bxslider.min.js"></script>
    <script src="../lib/handlebars-v4.0.5.js"></script>
    <script src="js/main.js"></script>
    <script src="../lib/flex.js"></script>
    <script src="https://use.fontawesome.com/0be3f70640.js"></script>
    <!--[if lt IE 9]>
    <link href="../lib/ie.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <![endif]-->
