<ul class="topnav" id="myTopnav">
    <li class="menu-item" id="index"><a href="index.html">Home</a></li>
    <li class="menu-item" id="gallery"><a href="gallery.html">Gallery</a></li>
    <li class="dropdown menu-item" id="clients">
        <a href="javascript:void(0)" class="dropbtn" id="clients-href">For clients</a>
        <ul class="dropdown-content">
            <li class="submenu-item"><a href="menu.html">Menu</a></li>
            <li class="submenu-item"><a href="contacts.html">Contacts</a></li>
            <li class="submenu-item"><a href="reservation.html">Reservation</a></li>
            <li class="submenu-item"><a href="events.html">Events</a></li>
        </ul>
    </li>
    <li class="icon">
        <a href="javascript:void(0);" onclick="menuCollapse()">☰</a>
    </li>
</ul>
