@import "variables.scss";
#contactPage{
  background-image: url("../img/bg-3.jpg");
  background-size: cover;
  #contacts {
    height: 100%;
    color: white;
    .container {
      height: 100%;
    }
    #googleMap {
      width: 60%;
      margin-bottom: 60px;
      min-height: 300px;
    }
    .text{
      width: 35%;
    }
    a{
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }

  h1 {
    display: inline-block;
    margin: 50px 0 20px 0;
    padding: 10px;
  }

  h1:first-of-type{
    background-color:rgba(72,72,72,0.7);
  }

  #contact-form {
    background-color:rgba(72,72,72,0.7);
    padding: 10px 20px 30px 20px;
    max-width:50%;
    border-radius:7px;
    margin-bottom: 60px;
    font-family: 'Arsenal', sans-serif;

  }
  #contact-form input,
  #contact-form textarea,
  #contact-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  #contact-form input,
  #contact-form textarea {
    width:100%;
    background: #fff;
    border: 0;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 5px;
  }
  #contact-form input:focus,
  #contact-form select:focus,
  #contact-form textarea:focus {
    background-color: #E5E6E7;
  }
  #contact-form textarea {
    width:100%;
    height: 150px;
  }
  #contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background-color: $blue;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius: 4px;
  }
  #contact-form button[type="submit"]:hover {
    background-color: #003232;
  }

  input:required, textarea:required {
    box-shadow: none;
  }
  #contact-form .required {
    font-weight:bold;
    color: #E5E6E7;
  }
}

@media only screen and (max-device-width: 768px){
  #contacts{
    h1{
      margin: 10px 0;
    }
  }
  body{
    background: black;
    padding: 50px 0;
  }
  #contactPage #contact-form {
    width:100%;
  }

  #contactPage #contacts #googleMap {
    width: 100%;
    height: 500px;
  }
}