#eventPage{
  background: linear-gradient(to right, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
  #vk_share_button {
    background-color: white;
    border: 1px solid white;
  }
  h2{
    margin: 5px 0;
  }
  .sharing{
    margin-bottom: 20px;
  }
}
.main-info {
  cursor: pointer;
}

.details {
  display: none;
  p{
    width: 55%;
    text-align: justify;
  }
  img{
    width: 40%;
    height: 40%;
  }
}

#page_navigation{
  text-align: center;
  a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
  }
  .active_page{
    color: coral;
  }
}

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 18px;
  height: 18px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffedda;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 162, 208, 0.5);
}