.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
}

.stars {
  background-image: url('../img/bg-2.jpg');
  background-size: cover;
  h1 {
    color: #ffeffa;
  }
}

.img-wrap {
  width: 200px;
  margin: 20px;
  display: inline-block;
  height: 225px;
  position: relative;
  span {
    display: none;
    position: absolute;
    top: 100px;
    left: 70px;
    font-weight: bold;
  }
  &:hover {
    span {
      display: inline;
    }
  }
  .rounded {
    &:hover {
      opacity: 0.4;
    }
  }

}

.thumb {
  width: 250px;
  display: inline-block;
  padding-top: 30px;
  text-align: center;
  background-color: #ffeffa;
  transition: 0.3s;
  margin: 20px;
  &:hover {
    background-color: #004d4d;
    .caption {
      color: white;
    }
  }
  .caption {
    transition: 0.3s;
    padding: 18px 40px;
    color: #340c0c;
    h2 {
      margin: 0;
    }
    h2 {
      font-size: 48px;
      font-weight: 900;
      line-height: 1.1;
    }
  }
}

//social icons
#aboutPage {
  .icon {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin: 4px;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
  }

  .icon-cube {
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    overflow: visible;
  }

  .icon-cube::before,
  .icon-cube::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/icons5.png");
    background-image: url("../img/icons5.svg"), none;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .icon-cube::before {
    z-index: 2;
    background-color: #595959;
  }

  .icon-cube::after {
    z-index: 1;
    opacity: 0;
    -webkit-transform: translateY(48px) rotateX(-90deg);
    transform: translateY(48px) rotateX(-90deg);
  }

  .icon-cube:hover::before {
    opacity: 0;
    -webkit-transform: translateY(-48px) rotateX(90deg);
    transform: translateY(-48px) rotateX(90deg);
  }

  .icon-cube:hover::after {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  /* facebook */
  .icon-cube.facebook::before,
  .icon-cube.facebook::after {
    background-position: 0 0;
  }

  .icon-cube.facebook::after {
    background-color: #3b5998;
  }

  /* twitter */
  .icon-cube.twitter::before,
  .icon-cube.twitter::after {
    background-position: -96px 0;
  }

  .icon-cube.twitter::after {
    background-color: #4099ff;
  }

  /* google plus */
  .icon-cube.googleplus::before,
  .icon-cube.googleplus::after {
    background-position: -192px 0;
  }

  .icon-cube.googleplus::after {
    background-color: #d34836;
  }
}

@media only screen and (max-device-width: 768px) {
  .thumb {
    width: 95%;
  }

}