@charset "UTF-8";
ul.navbar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  opacity: 0.7;
  transition: opacity .25s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  z-index: 4; }
  ul.navbar:hover {
    opacity: 1; }
  ul.navbar .highlight_stay {
    background-color: darkcyan; }
  ul.navbar li.menu-item {
    float: left;
    position: relative; }
    ul.navbar li.menu-item:not(:first-child) {
      border-left: 1px solid #ccc; }
    ul.navbar li.menu-item a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 8px 16px;
      text-decoration: none;
      font-size: 24px; }
      ul.navbar li.menu-item a:hover {
        background-color: #ccc; }

.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none; }
  .dropbtn:hover {
    background-color: #ccc; }

li.dropdown {
  display: inline-block; }
  li.dropdown:hover .dropdown-content {
    display: block;
    z-index: 4;
    background-color: #333; }
  li.dropdown .dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    li.dropdown .dropdown-content li:hover {
      background-color: #ccc; }
    li.dropdown .dropdown-content a {
      padding: 8px 12px;
      text-decoration: none;
      display: block;
      text-align: left; }
      li.dropdown .dropdown-content a:hover {
        color: black; }

footer {
  width: 100%;
  margin: 0;
  background-color: #333;
  opacity: 0.7;
  transition: opacity .25s;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 46px;
  z-index: 3;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 8px 16px;
  box-sizing: border-box; }
  footer:hover {
    opacity: 1; }

header {
  position: relative; }

div.label {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 8vw;
  text-transform: uppercase;
  color: bisque;
  padding: 5px;
  font-weight: bold;
  z-index: 3;
  background-color: rgba(51, 51, 51, 0.62);
  transition: background-color .25s; }
  div.label:hover {
    background-color: rgba(51, 51, 51, 0.8); }

#menu {
  background: black;
  text-align: center;
  box-sizing: border-box; }
  #menu h1 {
    color: white; }
  #menu .menu-heading {
    text-align: center;
    height: 72px; }
    #menu .menu-heading a {
      text-decoration: none;
      color: white;
      box-sizing: border-box; }
    #menu .menu-heading .menu-category {
      padding: 12px 24px;
      float: left;
      text-align: center;
      box-sizing: border-box;
      font-size: 36px;
      width: 33.3%;
      border: 1px solid darkcyan; }
      #menu .menu-heading .menu-category:hover {
        background-color: darkcyan; }
  #menu .menu {
    background-color: white;
    font-size: 36px;
    padding: 32px 16px;
    color: black; }

#galleryPage {
  justify-content: space-around; }
  #galleryPage .img-wrap {
    width: 300px;
    height: 300px;
    margin: 5px;
    overflow: hidden; }
    #galleryPage .img-wrap img {
      height: 300px; }

#modal_form {
  width: 80%;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: absolute;
  /* ╤З╤Вo╨▒╤Л o╨║╨╜o ╨▒╤Л╨╗o ╨▓ ╨▓╨╕╨┤╨╕╨╝o╨╣ ╨╖o╨╜╨╡ ╨▓ ╨╗╤О╨▒o╨╝ ╨╝╨╡╤Б╤В╨╡ */
  top: 60px;
  /* o╤В╤Б╤В╤Г╨┐a╨╡╨╝ ╤Б╨▓╨╡╤А╤Е╤Г 45%, o╤Б╤Вa╨╗╤М╨╜╤Л╨╡ 5% ╨┐o╨┤╨▓╨╕╨╜╨╡╤В ╤Б╨║╤А╨╕╨┐╤В */
  left: calc(20%/2);
  margin: 0 auto;
  display: none;
  /* ╨▓ o╨▒╤Л╤З╨╜o╨╝ ╤Бo╤Б╤Вo╤П╨╜╨╕╨╕ o╨║╨╜a ╨╜╨╡ ╨┤o╨╗╨╢╨╜o ╨▒╤Л╤В╤М */
  opacity: 0;
  /* ╨┐o╨╗╨╜o╤Б╤В╤М╤О ╨┐╤Аo╨╖╤Аa╤З╨╜o ╨┤╨╗╤П a╨╜╨╕╨╝╨╕╤Аo╨▓a╨╜╨╕╤П */
  z-index: 5;
  /* o╨║╨╜o ╨┤o╨╗╨╢╨╜o ╨▒╤Л╤В╤М ╨╜a╨╕╨▒o╨╗╨╡╨╡ ╨▒o╨╗╤М╤И╨╡╨╝ ╤Б╨╗o╨╡ */
  padding: 20px 10px; }
  #modal_form img {
    width: 95%;
    margin-left: calc(5%/2); }

/* ╨Ъ╨╜o╨┐╨║a ╨╖a╨║╤А╤Л╤В╤М ╨┤╨╗╤П ╤В╨╡╤Е ╨║╤Вo ╨▓ ╤Вa╨╜╨║╨╡) */
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block; }

/* ╨Яo╨┤╨╗o╨╢╨║a */
#overlay {
  z-index: 3;
  /* ╨┐o╨┤╨╗o╨╢╨║a ╨┤o╨╗╨╢╨╜a ╨▒╤Л╤В╤М ╨▓╤Л╤И╨╡ ╤Б╨╗o╨╡╨▓ ╤Н╨╗╨╡╨╝╨╡╨╜╤Вo╨▓ ╤Бa╨╣╤Вa, ╨╜o ╨╜╨╕╨╢╨╡ ╤Б╨╗o╤П ╨╝o╨┤a╨╗╤М╨╜o╨│o o╨║╨╜a */
  position: fixed;
  /* ╨▓╤Б╨╡╨│╨┤a ╨┐╨╡╤А╨╡╨║╤А╤Л╨▓a╨╡╤В ╨▓╨╡╤Б╤М ╤Бa╨╣╤В */
  background-color: #000;
  /* ╤З╨╡╤А╨╜a╤П */
  opacity: 0.8;
  /* ╨╜o ╨╜╨╡╨╝╨╜o╨│o ╨┐╤Аo╨╖╤Аa╤З╨╜a */
  -moz-opacity: 0.8;
  /* ╤Д╨╕╨║╤Б ╨┐╤А╨╛╨╖╤А╨░╤З╨╜╨╛╤Б╤В╨╕ ╨┤╨╗╤П ╤Б╤В╨░╤А╤Л╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨╛╨▓ */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* ╤Аa╨╖╨╝╨╡╤Аo╨╝ ╨▓o ╨▓╨╡╤Б╤М ╤Н╨║╤Аa╨╜ */
  top: 0;
  /* ╤Б╨▓╨╡╤А╤Е╤Г ╨╕ ╤Б╨╗╨╡╨▓a 0, o╨▒╤П╨╖a╤В╨╡╨╗╤М╨╜╤Л╨╡ ╤Б╨▓o╨╣╤Б╤В╨▓a! */
  left: 0;
  cursor: pointer;
  display: none;
  /* ╨▓ o╨▒╤Л╤З╨╜o╨╝ ╤Бo╤Б╤Вo╤П╨╜╨╕╨╕ ╨╡╤С ╨╜╨╡╤В) */ }

body, html {
  height: 100%;
  width: 100%;
  color: black;
  margin: 0;
  padding: 0; }

body {
  font-size: 24px; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", sans-serif; }

h1 {
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0; }

.content {
  max-width: 980px;
  margin: auto; }

.blue {
  background-color: darkcyan;
  color: white; }

.black {
  background-color: black;
  color: white; }

.rose {
  background-color: rgba(255, 200, 150, 0.42);
  color: black; }

section {
  padding: 60px 0; }

.container {
  padding: 60px 5px 40px 5px; }

.center {
  text-align: center; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.column {
  display: flex;
  flex-direction: column; }

.half {
  width: 49.99%;
  padding: 0 8px; }

/*# sourceMappingURL=main.css.map */
