@import "navbar.scss";
@import "footer.scss";
@import "header.scss";
@import "menu.scss";
@import "gallery.scss";
@import "contacts.scss";
@import "events.scss";
@import "reservation.scss";
@import "index.scss";
@import "variables.scss";


body, html {height: 100%; width:100%; color: black;  margin:0; padding:0;} body{font-size: 24px}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
h1{font-size: 48px; text-transform: uppercase; margin: 0; padding: 20px 0}
.content{max-width: 980px;  margin: auto;}
.content{max-width: 1200px;  margin: auto;}
.blue{background-color: #004d4d; color: white}
.black{background-color: black; color: white}
.white{background-color: white; color: black}
.gray{background-color: #7eaeb0; color: white}
.rose{background-color: #ffedda; color: black}
section{padding: 60px 0}
.container{padding:60px 5px 60px 5px}
.center{text-align: center}
.row{display: flex; flex-direction: row; flex-wrap: nowrap}
.row-wrap{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around}
.row-wrap-between{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between}
.column{display: flex;  flex-direction: column}
.half{width: 45%; padding:0 8px;}
.right{float: right}
.left{float: left}
.padding-30{padding: 30px}
.margin-20{margin: 0 20px}
p{text-align: justify}
.inline{display: inline-block;}
.rounded{border-radius: 50%;
}

.bx-wrapper .bx-controls-direction a{
  z-index: 3;
}


@media only screen
and (max-device-width: 768px){
  body {
    padding: 80px 0 40px 0;
  }
  body#mainPage{
    padding:0;
  }
//.container{
//    padding: 80px 0 40px 0;
//  }
  .padding-30{
    padding: 10px;
  }
  section{
    padding: 10px 0;
  }
  .half{
    width: 100%;
    padding: 0;
  }
  .left{
    float: none;
  }
  .right{
    float: none;
  }
}