@import "navbar.scss";
@import "footer.scss";
@import "header.scss";
@import "menu.scss";


body, html {height: 100%; width:100%; color: black} body{margin: 0 0 30px;}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
h1{font-size: 48px; text-transform: uppercase; margin: 0; padding: 20px 0}
.content{max-width: 980px;  margin: auto;}
.blue{background-color: darkcyan; color: white}
.black{background-color: black; color: white}
section{padding: 60px 0}