@import "navbar.scss";
@import "footer.scss";
@import "header.scss";
@import "menu.scss";
@import "gallery.scss";


body, html {height: 100%; width:100%; color: black;  margin:0; padding:0;} body{font-size: 24px}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
h1{font-size: 48px; text-transform: uppercase; margin: 0; padding: 20px 0}
.content{max-width: 980px;  margin: auto;}
.blue{background-color: darkcyan; color: white}
.black{background-color: black; color: white}
.rose{background-color: rgba(255, 200, 150, 0.42); color: black}
section{padding: 60px 0}
.container{padding:60px 5px 40px 5px}
.center{text-align: center}
.row{display: flex; flex-direction: row; flex-wrap: nowrap}
.row-wrap{display: flex; flex-direction: row; flex-wrap: wrap}
.column{display: flex; flex-direction: column}
.half{width: 49.99%; padding:0 8px}