@charset "UTF-8";
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  opacity: 0.7;
  transition: opacity .25s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  z-index: 4; }
  ul.topnav:hover {
    opacity: 1; }
  ul.topnav .highlight_stay {
    background-color: darkcyan; }

ul.topnav li {
  float: left; }

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 24px; }

ul.topnav li a:hover {
  background-color: darkcyan; }

ul.topnav li.icon {
  display: none; }

.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none; }
  .dropbtn:hover {
    background-color: #ccc; }

li.dropdown {
  display: inline-block; }
  li.dropdown:hover .dropdown-content {
    display: block;
    z-index: 4;
    background-color: #333; }
  li.dropdown .dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    li.dropdown .dropdown-content li {
      float: none;
      display: block; }
    li.dropdown .dropdown-content li:hover {
      background-color: darkcyan; }
    li.dropdown .dropdown-content a {
      padding: 8px 12px;
      text-decoration: none;
      display: block;
      font-size: 24px;
      float: none; }
      li.dropdown .dropdown-content a:hover {
        color: black; }

@media only screen and (max-device-width: 768px) {
  ul.topnav {
    height: auto; }

  ul.topnav li a {
    font-size: 60px; }

  ul.topnav li:not(:first-child) {
    display: none; }

  ul.topnav li.icon {
    float: right;
    display: inline-block; } }
@media only screen and (max-device-width: 768px) {
  #clients-href {
    display: none; }

  li.dropdown .dropdown-content {
    display: block;
    background-color: #333;
    width: 100%; }
    li.dropdown .dropdown-content a {
      width: 100%; }

  ul.topnav.responsive {
    position: relative; }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4; }

  ul.topnav.responsive li, .dropdown-content li {
    float: none;
    background-color: #333;
    display: inline;
    z-index: 4; }

  ul.topnav.responsive li a, .dropdown-content li a {
    display: block;
    text-align: left;
    z-index: 4;
    font-size: 60px; } }
footer {
  width: 100%;
  margin: 0;
  background-color: #333;
  opacity: 0.7;
  transition: opacity .25s;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 46px;
  z-index: 3;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 8px 16px;
  box-sizing: border-box; }
  footer:hover {
    opacity: 1; }

header {
  position: relative; }

div.label {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  color: bisque;
  padding: 5px;
  font-weight: bold;
  z-index: 3;
  background-color: rgba(51, 51, 51, 0.62);
  transition: background-color .25s; }
  div.label:hover {
    background-color: rgba(51, 51, 51, 0.8); }

#menuPage {
  background-image: url(../img/bg-4.jpg);
  background-size: cover; }
  #menuPage #menu {
    text-align: center;
    box-sizing: border-box; }
    #menuPage #menu #menuBox {
      opacity: 0.8;
      filter: alpha(opacity=80);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha80";
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8; }
      #menuPage #menu #menuBox:hover {
        opacity: 0.9;
        filter: alpha(opacity=90);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha90";
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9; }
    #menuPage #menu button {
      background-color: white;
      color: darkslategrey;
      border: none;
      outline: 0;
      font-weight: bold;
      cursor: pointer;
      vertical-align: middle; }
    #menuPage #menu h1 {
      color: white; }
    #menuPage #menu .menu-heading {
      text-align: center;
      height: 72px; }
      #menuPage #menu .menu-heading a {
        text-decoration: none;
        color: white;
        box-sizing: border-box; }
      #menuPage #menu .menu-heading .menu-category {
        padding: 12px 24px;
        float: left;
        text-align: center;
        box-sizing: border-box;
        font-size: 36px;
        width: 33.3%;
        border: 1px solid darkcyan; }
        #menuPage #menu .menu-heading .menu-category:hover {
          background-color: darkcyan; }
    #menuPage #menu .menu {
      background-color: white;
      font-size: 36px;
      padding: 32px 16px;
      color: black;
      text-align: left; }
      #menuPage #menu .menu h1 {
        color: black;
        font-size: 32px; }
      #menuPage #menu .menu p {
        font-size: 24px;
        color: darkslategray; }
      #menuPage #menu .menu .price {
        color: white;
        background-color: darkslategray;
        padding: 10px 15px;
        border-radius: 3px; }
      #menuPage #menu .menu hr {
        color: darkcyan; }

#galleryPage {
  justify-content: space-around; }
  #galleryPage .img-wrap {
    width: 300px;
    height: 300px;
    margin: 5px;
    overflow: hidden; }
    #galleryPage .img-wrap img {
      height: 300px; }

#modal_form {
  width: 80%;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: absolute;
  /* ╤З╤Вo╨▒╤Л o╨║╨╜o ╨▒╤Л╨╗o ╨▓ ╨▓╨╕╨┤╨╕╨╝o╨╣ ╨╖o╨╜╨╡ ╨▓ ╨╗╤О╨▒o╨╝ ╨╝╨╡╤Б╤В╨╡ */
  top: 60px;
  /* o╤В╤Б╤В╤Г╨┐a╨╡╨╝ ╤Б╨▓╨╡╤А╤Е╤Г 45%, o╤Б╤Вa╨╗╤М╨╜╤Л╨╡ 5% ╨┐o╨┤╨▓╨╕╨╜╨╡╤В ╤Б╨║╤А╨╕╨┐╤В */
  left: 10%;
  margin: 0 auto;
  display: none;
  /* ╨▓ o╨▒╤Л╤З╨╜o╨╝ ╤Бo╤Б╤Вo╤П╨╜╨╕╨╕ o╨║╨╜a ╨╜╨╡ ╨┤o╨╗╨╢╨╜o ╨▒╤Л╤В╤М */
  opacity: 0;
  /* ╨┐o╨╗╨╜o╤Б╤В╤М╤О ╨┐╤Аo╨╖╤Аa╤З╨╜o ╨┤╨╗╤П a╨╜╨╕╨╝╨╕╤Аo╨▓a╨╜╨╕╤П */
  z-index: 5;
  /* o╨║╨╜o ╨┤o╨╗╨╢╨╜o ╨▒╤Л╤В╤М ╨╜a╨╕╨▒o╨╗╨╡╨╡ ╨▒o╨╗╤М╤И╨╡╨╝ ╤Б╨╗o╨╡ */
  padding: 20px 10px; }
  #modal_form img {
    width: 95%;
    margin-left: 2.5%; }

/* ╨Ъ╨╜o╨┐╨║a ╨╖a╨║╤А╤Л╤В╤М ╨┤╨╗╤П ╤В╨╡╤Е ╨║╤Вo ╨▓ ╤Вa╨╜╨║╨╡) */
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block; }

/* ╨Яo╨┤╨╗o╨╢╨║a */
#overlay {
  z-index: 3;
  /* ╨┐o╨┤╨╗o╨╢╨║a ╨┤o╨╗╨╢╨╜a ╨▒╤Л╤В╤М ╨▓╤Л╤И╨╡ ╤Б╨╗o╨╡╨▓ ╤Н╨╗╨╡╨╝╨╡╨╜╤Вo╨▓ ╤Бa╨╣╤Вa, ╨╜o ╨╜╨╕╨╢╨╡ ╤Б╨╗o╤П ╨╝o╨┤a╨╗╤М╨╜o╨│o o╨║╨╜a */
  position: fixed;
  /* ╨▓╤Б╨╡╨│╨┤a ╨┐╨╡╤А╨╡╨║╤А╤Л╨▓a╨╡╤В ╨▓╨╡╤Б╤М ╤Бa╨╣╤В */
  background-color: #000;
  /* ╤З╨╡╤А╨╜a╤П */
  opacity: 0.8;
  /* ╨╜o ╨╜╨╡╨╝╨╜o╨│o ╨┐╤Аo╨╖╤Аa╤З╨╜a */
  -moz-opacity: 0.8;
  /* ╤Д╨╕╨║╤Б ╨┐╤А╨╛╨╖╤А╨░╤З╨╜╨╛╤Б╤В╨╕ ╨┤╨╗╤П ╤Б╤В╨░╤А╤Л╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨╛╨▓ */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* ╤Аa╨╖╨╝╨╡╤Аo╨╝ ╨▓o ╨▓╨╡╤Б╤М ╤Н╨║╤Аa╨╜ */
  top: 0;
  /* ╤Б╨▓╨╡╤А╤Е╤Г ╨╕ ╤Б╨╗╨╡╨▓a 0, o╨▒╤П╨╖a╤В╨╡╨╗╤М╨╜╤Л╨╡ ╤Б╨▓o╨╣╤Б╤В╨▓a! */
  left: 0;
  cursor: pointer;
  display: none;
  /* ╨▓ o╨▒╤Л╤З╨╜o╨╝ ╤Бo╤Б╤Вo╤П╨╜╨╕╨╕ ╨╡╤С ╨╜╨╡╤В) */ }

#contactPage {
  background-image: url("../img/bg-3.jpg");
  background-size: cover;
  /* Hide success/failure message
     (especially since the php is missing) */ }
  #contactPage #contacts {
    height: 100%;
    color: white; }
    #contactPage #contacts .container {
      height: 100%; }
    #contactPage #contacts #googleMap {
      width: 60%;
      margin-bottom: 60px; }
    #contactPage #contacts .text {
      width: 35%; }
    #contactPage #contacts a {
      text-decoration: none;
      color: black;
      font-weight: bold; }
  #contactPage h1 {
    background-color: rgba(72, 72, 72, 0.7);
    display: inline-block;
    margin: 50px 0 20px 0;
    padding: 10px; }
  #contactPage #contact-form {
    background-color: rgba(72, 72, 72, 0.7);
    padding: 10px 20px 30px 20px;
    max-width: 50%;
    border-radius: 7px;
    margin-bottom: 60px;
    font-family: 'Arsenal', sans-serif; }
  #contactPage #contact-form input,
  #contactPage #contact-form textarea,
  #contactPage #contact-form label {
    font-size: 18px;
    margin-bottom: 5px; }
  #contactPage #contact-form input,
  #contactPage #contact-form textarea {
    width: 100%;
    background: #fff;
    border: 0;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 5px; }
  #contactPage #contact-form input:focus,
  #contactPage #contact-form select:focus,
  #contactPage #contact-form textarea:focus {
    background-color: #E5E6E7; }
  #contactPage #contact-form textarea {
    width: 100%;
    height: 150px; }
  #contactPage #contact-form button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: darkcyan;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px; }
  #contactPage #contact-form button[type="submit"]:hover {
    background-color: #004d4d;
    transition: background-color 0.3s ease-in-out; }
  #contactPage #contact-form button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }
  #contactPage input:required, #contactPage textarea:required {
    box-shadow: none; }
  #contactPage #contact-form .required {
    font-weight: bold;
    color: #E5E6E7; }
  #contactPage #failure, #contactPage #success {
    color: #6EA070;
    display: none; }

@media only screen and (max-device-width: 768px) {
  #contactPage #contact-form {
    min-width: 100%; }

  #contactPage #contacts #googleMap {
    width: 100%;
    height: 500px; } }
#eventPage {
  background: linear-gradient(to right, #1eb089 0%, #7c49ab 100%, #7db9e8 100%); }
  #eventPage h2 {
    margin: 5px 0; }
  #eventPage .sharing {
    margin-bottom: 20px; }

.main-info {
  cursor: pointer; }

.details {
  display: none; }
  .details p {
    width: 55%;
    text-align: justify; }
  .details img {
    width: 40%;
    height: 40%; }

#page_navigation {
  text-align: center; }
  #page_navigation a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    margin: 5px; }
  #page_navigation .active_page {
    color: coral; }

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0; }

.radio + label {
  cursor: pointer; }

.radio:not(checked) {
  position: absolute;
  opacity: 0; }

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px; }

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 18px;
  height: 18px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF; }

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffedda;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .2s; }

.radio:checked + label:after {
  opacity: 1; }

.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 162, 208, 0.5); }

#reservationPage .svg-table {
  background-image: url("../img/bg-5.jpg");
  background-size: cover;
  background-position: top; }
#reservationPage .booking-form {
  background-color: #333333; }
#reservationPage #reservation {
  width: 100%;
  text-align: center;
  font-family: 'Arsenal', sans-serif; }
  #reservationPage #reservation #svg-table {
    border: 1px solid white; }
  #reservationPage #reservation rect#canvas_background, #reservationPage #reservation rect#scene {
    cursor: auto; }
  #reservationPage #reservation rect, #reservationPage #reservation ellipse {
    cursor: pointer;
    fill: darkcyan; }
  #reservationPage #reservation rect#canvas_background {
    fill: transparent; }
  #reservationPage #reservation .booking-table input, #reservationPage #reservation .booking-table button, #reservationPage #reservation .booking-table input[type="date"] {
    padding: 8px 16px;
    border: none;
    outline: none;
    width: 50%;
    font-size: 20px;
    margin: 5px 0;
    color: gray;
    background-color: white; }
  #reservationPage #reservation .booking-table button {
    background-color: darkcyan;
    color: white;
    font-size: 20px;
    margin: 5px 0;
    cursor: pointer;
    display: inline-block; }
  #reservationPage #reservation .booking-table select {
    padding: 5px 10px;
    border: none;
    outline: 0;
    font-size: 20px;
    margin: 5px 5px;
    color: gray; }
  #reservationPage #reservation .booking-table .error {
    color: coral;
    font-size: 18px;
    display: none; }
@media only screen and (max-device-width: 768px) {
  #reservationPage #reservation .booking-table input, #reservationPage #reservation .booking-table button, #reservationPage #reservation .booking-table input[type="date"] {
    width: 90%;
    text-align: center; } }

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about {
  background-image: url("../img/bg-1.jpg");
  background-size: cover; }

.stars {
  background-image: url("../img/bg-2.jpg");
  background-size: cover; }
  .stars h1 {
    color: #ffeffa; }

.thumb {
  width: 250px;
  display: inline-block;
  padding-top: 30px;
  text-align: center;
  background-color: #ffeffa;
  transition: 0.3s;
  margin: 20px; }
  .thumb:hover {
    background-color: darkcyan; }
    .thumb:hover .caption {
      color: white; }
  .thumb .caption {
    transition: 0.3s;
    padding: 18px 40px;
    color: #340c0c; }
    .thumb .caption h2 {
      margin: 0; }
    .thumb .caption h2 {
      font-size: 72px;
      font-weight: 900;
      line-height: 1.1; }

@media only screen and (max-device-width: 768px) {
  .thumb {
    width: 95%; } }
body, html {
  height: 100%;
  width: 100%;
  color: black;
  margin: 0;
  padding: 0; }

body {
  font-size: 24px; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", sans-serif; }

h1 {
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0; }

.content {
  max-width: 980px;
  margin: auto; }

.blue {
  background-color: darkcyan;
  color: white; }

.black {
  background-color: black;
  color: white; }

.white {
  background-color: white;
  color: black; }

.gray {
  background-color: #7eaeb0;
  color: white; }

.rose {
  background-color: #ffedda;
  color: black; }

section {
  padding: 60px 0; }

.container {
  padding: 60px 5px 60px 5px; }

.center {
  text-align: center; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.row-wrap-between {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.column {
  display: flex;
  flex-direction: column; }

.half {
  width: 45%;
  padding: 0 8px; }

.right {
  float: right; }

.left {
  float: left; }

.padding-30 {
  padding: 30px; }

.margin-20 {
  margin: 0 20px; }

p {
  text-align: justify; }

.inline {
  display: inline-block; }

.rounded {
  border-radius: 50%; }

@media only screen and (max-device-width: 768px) {
  .container {
    padding: 40px 20px; }

  .padding-30 {
    padding: 10px; }

  section {
    padding: 10px 0; }

  .half {
    width: 100%; }

  .left {
    float: none; }

  .right {
    float: none; } }

/*# sourceMappingURL=main.css.map */
