#menu {
  background: black;
  text-align: center;
  box-sizing: border-box;
  h1 {
    color: white;
  }
  .menu-heading {
    .menu-category {
      padding: 12px 24px;
      width: 33%;
      background-color: black;
      color: white;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      font-size: 36px;
      border: 1px solid darkcyan;
      &:hover {
        background-color: darkcyan;
      }
    }
  }
}