ul.navbar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  opacity: 0.7;
  transition: opacity .25s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  z-index: 4;
  &:hover {
    opacity: 1;
  }
  .highlight_stay{
    background-color: darkcyan;
  }
  li.menu-item {
    float: left;
    position: relative;
    &:not(:first-child){
      border-left: 1px solid #ccc;
    }
    a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 8px 16px;
      text-decoration: none;
      font-size: 24px;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}

.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  &:hover {
    background-color: #ccc;
  }
}

li.dropdown {
  display: inline-block;

  &:hover .dropdown-content {
    display: block;
    z-index: 4;
    background-color: #333;
  }

  .dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li:hover {
      background-color: #ccc;
    }
    a {
      padding: 8px 12px;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
        color: black;
      }
    }
  }
}
