@import "variables.scss";
@import "mixin.scss";

#reservationPage {
  background: linear-gradient(to right, #19424d 0%, #340f1d 50%);
  .booking-form {
    margin-bottom: 50px;
  }
  .svg-table{
    margin-bottom: 50px;
  }
  #reservation {
    width: 100%;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
    rect#canvas_background, rect#scene {
      cursor: auto;
    }
    rect, ellipse {
      cursor: pointer;
      fill: $blue;
    }
    rect#canvas_background {
      fill: transparent;
    }
    .booking-table {
      background-color: $blue;
      width: 80%;
      border-radius:7px;
      @include opacity(0.8);
      input, input[type="date"], select {
        padding: 8px 16px;
        border: none;
        outline: none;
        width: 50%;
        font-size: 20px;
        margin: 5px 0;
        color: black;
        background-color: white;
        border-radius: 4px;
        &:focus{
          background-color: #E5E6E7;
        }
      }
      button {
        padding: 8px 16px;
        border: none;
        outline: none;
        width: 50%;
        background-color: gray;
        color: white;
        font-size: 20px;
        margin: 5px 0;
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        &:hover {
          background-color: #606060;
        }
      }
      select {
        width: 50px;
        padding: 0;
      }
      .error {
        color: coral;
        font-size: 18px;
        display: none;
      }
    }
  }

  @media only screen and (max-device-width: 1100px) {
    .half{
      width: 100%;
      padding: 0;
    }
    #reservation {
      .booking-table {
        input, button, input[type="date"] {
          width: 90%;
          text-align: center;
        }
      }
    }
  }
  .b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    color: black;
  }
  .b-popup .b-popup-content{
    position: absolute;
    top: 40%;
    left: 45%;
    text-align: center;
    width:200px;
    height: 100px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    font-size: 36px;
    a{
      text-decoration: none;
      color: gray;
      font-size: 24px;
      display: block;
    }
  }
}

@media only screen and (max-device-width: 1100px) {
  body {
    padding: 100px 0 0;
  }
  #reservationPage #reservation .booking-table{
    width: 100%;
  }
}
