@import "variables.scss";
@import "mixin.scss";

#reservationPage {
  background: linear-gradient(to right, #19424d 0%, #340f1d 50%);
  .booking-form {
    margin-bottom: 50px;
  }
  .svg-table{
    margin-bottom: 50px;
  }
  #reservation {
    width: 100%;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
    rect#canvas_background, rect#scene {
      cursor: auto;
    }
    rect, ellipse {
      cursor: pointer;
      fill: $blue;
    }
    rect#canvas_background {
      fill: transparent;
    }
    .booking-table {
      background-color: $blue;
      width: 80%;
      border-radius:7px;
      @include opacity(0.8);
      input, input[type="date"], select {
        padding: 8px 16px;
        border: none;
        outline: none;
        width: 50%;
        font-size: 20px;
        margin: 5px 0;
        color: black;
        background-color: white;
        border-radius: 4px;
        &:focus{
          background-color: #E5E6E7;
        }
      }
      button {
        padding: 8px 16px;
        border: none;
        outline: none;
        width: 50%;
        background-color: gray;
        color: white;
        font-size: 20px;
        margin: 5px 0;
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        &:hover {
          background-color: #606060;
        }
      }
      select {
        width: 50px;
        padding: 0;
      }
      .error {
        color: coral;
        font-size: 18px;
        display: none;
      }
    }
  }

  @media only screen and (max-device-width: 1100px) {
    .half{
      width: 100%;
      padding: 0;
    }
    #reservation {
      .booking-table {
        input, button, input[type="date"] {
          width: 90%;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 1100px) {
  body {
    padding: 100px 0 0;
  }
  #reservationPage #reservation .booking-table{
    width: 100%;
  }
}
