<!DOCTYPE html>
<html>
{{> head}}
<body>
<header>
    {{> navbar}}

    <div class="label">
        lucy's restaurant
    </div>
    <div class="slider">
        <ul class="bxslider">
            <li><img src="../img/slider/de7wn2yzt4g-josh-wilburne.jpg"/></li>
            <li><img src="../img/slider/n_y88twmgwa-jay-wennington.jpg"/></li>
            <li><img src="../img/slider/x9za3vjkigc-freddie-marriage.jpg"/></li>
        </ul>
    </div>
</header>



{{> footerr}}
</body>
</html>
