<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
<header>
    {{> navbar}}
</header>
<section class="black">
    <div id="menu" class="content">
        <h1>the menu</h1>
        <div class="menu-heading">
            <a href="javascript:void(0)" onclick="openMenu(event, 'starter');" id="selected">
                <div class="menu-category black">Starter</div>
            </a>
            <a href="javascript:void(0)" onclick="openMenu(event, 'main');">
                <div class="menu-category black">Main</div>
            </a>
            <a href="javascript:void(0)" onclick="openMenu(event, 'desert');">
                <div class="menu-category black">Desert</div>
            </a>
        </div>
        <div id="starter" class="menu content">Starter</div>
        <div id="main" class="menu content">Main</div>
        <div id="desert" class="menu content">Desert</div>
    </div>
</section>


{{> footer}}

</body>
</html>