<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body class="black" id="reservationPage">
<header>
    {{> navbar}}
</header>
<div id="reservation" class="container">
    <h1 class="center">Please, choose table and then select date and time:</h1>

    <div class="container left svg-table half">
        {{> tables}}
    </div>
    <div class="container booking-form right half center">
        <form class="booking-table">

            <label for="name">Your name</label><br>
            <input id="name" type="text" placeholder="Name" minlength="2" onblur="checkName(this.value)"><br>
            <div id="invalid-name" class="error"></div>
            <br>


            <label for="number">Phone number</label><br>
            <input id="number" type="text" placeholder="0501234567" onblur="checkNumber(this.value)"><br>
            <div id="invalid-number" class="error"></div>
            <br>


            <label for="date">Choose date</label><br>
            <input id="date" type="date" placeholder="2017-01-31" required onblur="checkDate(this.value)"><br>
            <div id="invalid-date" class="error"></div>
            <div id="invalid-future" class="error"></div>
            <br>


            <label for="start">Choose time</label>
            from: <select id="start">
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select>
            To: <select id="end">
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
        </select><br>
            <div id="invalid-table" class="error"></div>
            <br>


            <button id="book" type="submit">Reserve</button>
        </form>
    </div>
</div>

{{> footer}}
<script src="js/reservation.js"></script>

</body>
</html>